#result {
    border: 1px solid black;
    width: 100%;
}
.image-container {
    display: inline-block;
    max-width: 30rem;
    min-width: 5rem;
    max-height: 30rem;
    min-height: 5rem;

}
.image {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;

}
.imagediv {
    max-width: 100%;
    max-height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
}